<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>Gestions de comptes</title>
<link rel="stylesheet" type="text/css" href="../static/css/bootstrap.min.css"/>
</head>
<body>
	
	<!-- Poour l'instant je veux voir comment je prend le numero de compte et renvoyer à la page -->
	<table>
		<tr>
			<td>		
			
			<!--Boite de saisir le numero de compte -->
			
				<div>
					<label>Consultaion des comptes</label>
					
					<form th:action="@{/consulter}" method="get">
						
						<label for="codeCompte">Veuillez saisir le numero de compte.</label><br>
						<input type="text" name="codeCompte" id="codeCompte"/>
						
						<label for="ok"></label>
						<input type="submit" value="Ok" id="ok"/>
					
					</form>
				</div>
				
			<!-- Afficher les informations sur le compte choisi -->
				<div  th:if="${compte}">
					<div>
						<h2>Informations sur le compte :</h2>
						<h3>Client :</h3>				<label th:text="${compte.client.nomClient}" ></label><br>
	
						<h3>Le code du compte :</h3>	<label th:text="${compte.numCompte}" ></label><br>
	
						<h3>Solde du compte :</h3>		<label th:text="${compte.solde}" ></label><br>
	
						<h3>La date de création :</h3>	<label th:text="${compte.dateCreation}" ></label><br>
	
														<div th:if="${compte.class.simpleName=='CompteCourant'}" >
						<h3>Le type de compte :</h3>		Compte courant <br>
														<h3>Découvert :</h3> 
															<label th:text="${compte.decouvert}"></label>
														</div>
														<div th:if="${compte.class.simpleName=='CompteEpargne'}" >
						<h3>Le type de compte :</h3>		Compte épargne <br>
														<h3>Taux d'interet :</h3>	
															 <label th:text="${compte.taux}"></label>
														</div>
						
					</div>
				</div>
			</td>
			<td>
				<div  th:if="${compte}">
			
			<!--Opérations sur le compte -->
			
					<form th:action="@{/saveOperation}" method="post">
						<div>
							<label><h2>Opérations sur le compte</h2></label>
							
							<h3>Compte :</h3>  <label th:text="${compte.numCompte}"></label>		<!-- Affichage de numero de compte -->
							
							<input type="hidden" name="compteHidden" th:value="${compte.numCompte}"/>		<!-- Le champ Hidden -->
							
							<input type="radio" name="operation" value="versement" 
								onchange="document.getElementById('virement').style.display='none'"/>Versement		<!-- radio : versement -->
							
							<input type="radio" name="operation" value="virement"  checked="checked" 
								onchange="document.getElementById('virement').style.display='block'"/>Virement		<!-- radio : virement -->
							
							<input type="radio" name="operation" value="retrait" 
								onchange="document.getElementById('virement').style.display='none'"/>Retrait		<!-- radio : retrait -->
							
							<h3>Montant :</h3><input type="text" name="montant"/>		<!-- Champ montant -->
							
							<div id="virement">											<!-- div cahché -->
								<h3>Vers : </h3>
								<input type="text" name="compte2">
							</div>
							<input type="submit" value="Save"/>
						</div>
					</form>
						<!-- Consulter les operations dans un tableau-->
						
						<table border="1">
							<tr>
								<th>Type de l'operation</th><th>Date de création</th><th>Montant</th>
							</tr>
							<tr th:each="opera:${operations}">		<!-- for each opera in operations faire le boucle sur la ligne -->
								<td><label th:text="${opera.class.simpleName}"></label></td>
								<td><label th:text="${opera.dateOperation}"></label></td>
								<td><label th:text="${opera.montant}"></label></td>								
							</tr>
						</table>
				</div>
			</td>
		</tr>
	</table>
</body>
</html>










